<div class="beersPage">
    {{#each beers}}
    <div "beersPage">
    <img src="{{image_url}}" alt="image beers">
    <div id="beersPage">
    <h1>{{name}}</h1>
    <h3>{{tagline}}</h3>
    <p>{{description}}</p>
    </div>
    </div>
    {{/each}}
</div>